<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/Content/bootstrap.min.css" />
        <script src="/Scripts/jquery-3.0.0.min.js"></script>
        <script src="/Scripts/popper.min.js"></script>
        <script src="/Scripts/bootstrap.min.js"></script>
    </head>
    <body>
        <header class="mb-4">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#">Johnson</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarItems" aria-controls="navbarItems" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarItems">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Clients">Clients</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <main>
            @RenderBody()
        </main>
    </body>
</html>
